@import "../../../assets/styles/varibles.style";

.link-cluster {
  & > h3 {
    margin: 24px 0 32px;
  }

  &__link {
    display: block;

    width: max-content;
    margin: 14px 0;
    padding: 10px 10px 10px 0;

    &:hover {
      text-decoration: underline;
      color: $color-black;
    }
  }
}
