@import "../../../assets/styles/varibles.style";
@import "../../../assets/styles/animations.style";

.btn-dropdown {
  position: relative;

  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;

  transition: margin-bottom 0.5s ease-in-out;

  &:hover {
    a,
    svg {
      opacity: 0.75;
    }
  }

  & > a {
    transition: opacity 1.25s;
  }

  &__arrow {
    display: block;
    position: relative;

    width: max-content;
    height: max-content;
    padding-left: 5px;

    transition: opacity 0.25s;
  }

  &__act-1,
  &__act-2 {
    display: block;
    position: absolute;

    background-color: $color-black;
  }

  &__act-1 {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 2px;
    height: 0px;

    transition: height 0.5s ease-in-out;
  }

  .max-height {
    height: 20px;
  }

  &__act-2 {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0px;
    height: 2px;

    transition: width 0.5s ease-in-out;
  }

  .max-width {
    width: 100%;
  }
}

// transition helper class
.not-home {
  margin-bottom: 10px;
}
