@import "../../../assets/styles/varibles.style";

.nav-mobile {
  position: relative;
  background-color: $color-white;

  padding: 24px 0 12px;

  &__burg,
  &__opt {
    width: 25%;
  }

  &__burg {
  }

  &__logo {
    & > a {
      width: max-content;

      h3 {
        padding-left: 12px;
      }
    }
  }

  &__soc {
    & > a:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__opt {
    justify-content: end;

    & > div:not(:first-child) {
      margin-left: 12px;
    }
  }
}
