@import "../../../assets/styles/varibles.style";

.menu-modal {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);

  width: 0px;
  height: 0px;
  padding: 24px;

  border-radius: 10px;

  background-color: $color-white;
  opacity: 0;

  transition: width 0.75s ease-in-out, height 0.75s ease-in-out,
    opacity 0.75s ease-in-out;
}

// transition helper class
.menu-modal-active {
  width: 250px;
  height: 150px;
  opacity: 1;
}
