@import "../../../assets/styles/varibles.style";
@import "../../../assets/styles/breakpoints.style";

.dropdown-mobile {
  background-color: $color-white;

  &__menu {
    padding: 12px 0;

    .mob-logo {
      display: none;
      width: max-content;
      margin: 24px auto 32px;

      h3 {
        padding-left: 12px;
      }

      @include bp-mobile {
        display: flex;
      }
    }

    & > a {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__soc {
    padding: 24px 0;

    & > a:not(:first-child) {
      margin-left: 24px;
    }
  }
}
