@import "../../../assets/styles/varibles.style";
@import "../../../assets/styles/breakpoints.style";

.dropdown-mobile {
  position: relative;
  background-color: $color-white;

  &__menu {
    padding: 12px 0;

    .mob-logo {
      display: none;
      width: max-content;
      margin: 24px auto 32px;

      h3 {
        padding-left: 12px;
      }

      @include bp-mobile {
        display: flex;
      }
    }

    & > a {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__soc {
    padding: 24px 0;

    & > a:not(:first-child) {
      margin-left: 24px;
    }
  }

  &__slide {
    overflow: hidden;
    overflow-y: scroll;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);

    width: 100vw;
    height: 100%;

    background-color: $color-gray-2;

    transition: transform 0.5s ease-in-out;

    & > :first-child {
      & > :last-child {
        display: block;
        width: 100%;

        & > a {
          max-width: 100%;
          width: max-content;

          img {
            object-fit: cover;
          }
        }
      }
    }

    .arrow-back {
      cursor: pointer;
      width: max-content;
      height: max-content;
      margin-top: 24px;
      padding: 10px;

      transform: rotate(90deg);

      background-color: $color-white;
      border: 1px solid $color-gray-4;
      border-radius: 50%;
    }
  }

  .slide-shop {
    transform: translateX(0%);
  }
}
