@import "../../../assets/styles/varibles.style";

.form-radio {
  width: 100%;

  p {
    margin: 12px 0;
  }

  .radio-box {
    cursor: pointer;
    user-select: none;

    display: block;
    position: relative;

    height: 38px;
    width: 100%;

    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: $color-white;
    border: 2px solid $color-gray-3;
    border-radius: 8px;

    font-family: $font-body;

    transition: background-color 0.25s ease-in-out,
      border-color 0.25s ease-in-out, color 0.25s ease-in-out,
      font-weight 0.25s ease-in-out;
  }

  input {
    cursor: pointer;
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0;
  }

  input[type="radio"]:checked + label {
    background-color: $color-pink;
    border-color: $color-pink;

    font-weight: 700;
    color: $color-white;
  }
}
