// --------------------------------------------------------------- //
// --------------------------- COLORS ---------------------------- //
// --------------------------------------------------------------- //

$color-black: #1b2437;
$color-white: #ffffff;
$color-pink: #eda3b5;

$color-success: #00d659;
$color-danger: #da0053;

// --------------------------------------------------------------- //
// ---------------------------- FONT ----------------------------- //
// --------------------------------------------------------------- //

$font-body: "Mulish", sans-serif;
$font-head: "Playfair Display", serif;

// --------------------------------------------------------------- //
// ------------------------- SCREEN SIZE ------------------------- //
// --------------------------------------------------------------- //

$ss-tablet: 768px;
$ss-mobile: 480px;
